* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #007EFF;
  width: 100%;
  height: 50px;
  padding: 10px;
}

.date-cards {
  display: flex;
  flex-wrap: wrap;
}

.date-card {
  border: 1px solid black;
  padding: 0px;
  width: 330px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 5px 5px 5px #888888;
}

.card-date-container {
  background-color: #007EFF;
  width: 100%;
  height: 50px;
  padding: 10px;
}

.card-date-container-disabled {
  background-color: #ff5656;
}

.card-date {
  margin-top: 0px;
}

.assignment-list {
  list-style: none;
}

.assignment-name {
  margin: 20px 0px 4px;
  font-weight: normal;
  transition: all 0.3s;
}

.assignment-name--focused {
  color: #007EFF;
}

.assignment-list li {
  width: 250px;
  position: relative;
}

.assignment-list .checkmark {
  position: absolute;
  width: 20px;
  right: 10px;
  top: 0px;
  opacity: 0.9;
  transition: all 0.5s;
}

.assignment-list .checkmark--hidden {
  opacity: 0;
}

.assignment-list input {
  width: 250px;
  font-size: 11pt;
  font-style: italic;
}

.assignment-list input[type="text"] {
  padding: 5px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.assignment-list input[type="text"]:focus,
.assignment-list input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.selector-empty {
  background: #d5e9ff;
}
