@import url("https://fonts.googleapis.com/css?family=Jaldi");
@import "../node_modules/react-table/react-table.css";

/* Bootstrap overrides */

* {
  border-radius: 0;
}

body {
  background-color: #fafafa;
  font-family: "Jaldi", sans-serif;
}

h1 {
  font-size: 44px;
}

h3 {
  margin: 10px;
  width: 80%;
  display: inline;
  font-size: 32px;
}

h4 {
  font-size: 16px;
}

td {
  position: relative;
  overflow: hidden;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 4px;
  vertical-align: middle;
}

.container {
  max-width: 800px;
  position: relative;
}

/***
 app specific CSS
 ***/

.datecards-top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.datecards-inner-container {
  flex: 1 1 auto;
  margin-right: 25px;
}

.sidebar {
  width: 200px;
  background-color: white;
  padding: 10px;
  flex: 0 1 auto;
}

.sidebar-header {
  background-color: #8f9bbf;
  padding-left: 5px;
}

.userinfo {
  background-color: #5e77c2;
  color: white;
  padding: 8px 60px;
}

.userinfo .logout-link a {
  margin-left: 10px;
  color: white;
  text-decoration: underline;
}

.userinfo .logout-link a:hover {
  color: #8c1c3a;
}

.header {
  border-bottom: 2px #4b4b4b solid;
  margin-bottom: 20px;
}

.menubar {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menubar button {
  margin-right: 10px;
  border-radius: 0;
}

.menubar button.active {
  opacity: 0.5;
}

.menubar button:hover {
  background-color: #8f9bbf;
}

.menubar button:focus {
  outline-color: #8f9bbf;
}

.menubar .filter-buttons {
  margin: 15px;
}

.menubar .filter-buttons button {
  margin-right: 0px;
}

.menubar .filter-range {
  margin: 0 15px 15px;
}

.menubar .filter-range input {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  max-width: 80px;
}

.menubar .csv-button {
  margin-left: 15px;
  border-radius: 0;
}

.datecard {
  border-radius: 0;
}

.datecards > .spinner {
  width: 50px;
  margin: 0 auto;
  display: block;
}

.datecard .panel-heading {
  background-color: #8f9bbf;
  border-radius: 0;
}

.datecard .cardlabel-container {
  position: relative;
}

.datecard .cardlabel--check {
  position: absolute;
  top: 4px;
  right: 4px;
}

.cardlabel--check .spinner {
  width: 25px;
  padding: 0px;
  opacity: 0.9;
  position: absolute;
  right: 0px;
  transition: all 0.3s;
}

.datecard .cardlabel {
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  font-family: sans-serif;
}

.datecard .panel-heading--disabled {
  background-color: #8d252c;
}

.datecard .panel-heading--disabled h3 {
  color: #ececec;
}

.datecard .panel-heading--disabled .cardlabel {
  color: #ececec;
}

.padlock {
  width: 22px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #ececec;
}

.padlock--hidden {
  opacity: 0;
}

.glyphicon-pencil {
  margin-top: 5px;
}

.glyphicon-pencil:hover {
  cursor: pointer;
  color: #c9302c;
}

.pencil--red {
  color: #c9302c;
}

.glyphicon-trash {
  margin-top: 5px;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  transition: all 0.2s;
}

.glyphicon-trash:hover {
  cursor: pointer;
  color: #c9302c;
}

.glyphicon-trash--armed {
  background-color: #c9302c;
  color: black;
  border-radius: 50%;
  padding: 7px;
}

.glyphicon-trash--armed:hover {
  color: #8f9bbf;
}

.remove-slot-btn button {
  opacity: 1;
  border-radius: 20%;
  background-color: transparent;
  color: #333;
  border: none;
  margin-top: 5px;
  transition: all 0.2s;
}

.remove-slot-btn--hidden button {
  opacity: 0;
  left: -50px;
  position: absolute;
  cursor: default;
}

.resort-handle {
  cursor: row-resize;
  width: 25px;
}

.create-new-slot input {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.slotlabel {
  margin-left: 15px;
}

.label--focused {
  color: #7586bb;
  transition: all 0.3s;
}

.selector {
  border-radius: 0;
}

.selector:focus {
  border-color: #7586bb;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(72, 109, 138, 0.6);
}

.checkmark {
  width: 25px;
  height: 25px;
  padding: 2px;
  opacity: 0.9;
  fill: #7586bb;
  transition: all 0.3s;
}

.checkmark--hidden {
  width: 25px;
  opacity: 0;
}

.slot {
  background-color: white;
  font-family: sans-serif;
}

.slot .spinner {
  width: 25px;
  padding: 0px;
  opacity: 0.9;
  position: absolute;
  left: 7px;
  top: 12px;
  transition: all 0.3s;
}

.spinner.spinner--hidden {
  width: 25px;
  opacity: 0;
}

.report-assigneesignups-filterbar {
  margin-bottom: 10px;
}

.-header {
  background-color: #7586bb;
}

/***
 Plugin overrides
 ***/

.DayPicker {
  outline: none;
}

.DayPicker-Day {
  outline: none;
  cursor: default;
  padding: 0.1rem;
}

.DayPicker-Day--valid {
  background-color: #8f9bbf;
  cursor: pointer;
}

.DayPicker-Day--outside {
  background-color: inherit;
}

.DayPicker-Month {
  margin-bottom: 0.5rem;
}

.ReactTable {
  background-color: #fff;
  max-width: 600px;
}

/***
 Responsive breakpoints
 ***/

@media (max-width: 800px) {
  .sidebar {
    width: inherit;
  }

  .sidebar-header {
    display: none;
  }

  .DayPicker {
    display: none;
  }

  .datecards-top-container {
    flex-direction: column-reverse;
    align-items: inherit;
  }

  .container {
    max-width: 650px;
  }

  .datecards-inner-container {
    margin-right: 0;
  }

  .menubar {
    flex-direction: row;
    margin: auto;
    height: auto;
  }

  .menubar .filter-buttons {
    margin-top: auto;
    margin-bottom: 0;
  }

  .menubar .filter-range {
    margin-bottom: 0;
  }

  .menubar .csv-button {
    display: none;
  }
}

@media (max-width: 650px) {
  .menubar .filter-range {
    margin-top: 10px;
  }

  .menubar .filter-range input {
    width: 75px;
  }
}

@media (max-width: 420px) and (orientation: portrait) {
  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 12px;
  }

  .sidebar {
    display: none;
  }

  .slotlabel {
    margin-left: 10px;
  }

  .datecard .cardlabel {
    font-size: 14px;
  }

  .datecard .cardlabel--check {
    top: 12px;
  }

  .form-control {
    font-size: 12px;
  }

  .create-new-slot input {
    font-size: 12px;
  }
}
