@import url('https://fonts.googleapis.com/css?family=Jaldi');
@import "../node_modules/react-table/react-table.css";

* {
  border-radius: 0;
}

body {
  background-color: #fafafa;
  font-family: "Jaldi", sans-serif;
}

.container {
  max-width: 650px;
}

.userinfo {
  background-color: #5e77c2;
  color: white;
  padding: 8px 60px;
}

.userinfo .logout-link a {
  margin-left: 10px;
  color: white;
  text-decoration: underline;
}

.userinfo .logout-link a:hover {
  color: #8c1c3a;
}

.header {
  border-bottom: 2px #4b4b4b solid;
  margin-bottom: 20px;
}

h1 {
  font-size: 44px;
}

.menubar {
  margin-bottom: 30px;
  display: flex;
}

.menubar button {
  margin-right: 10px;
  border-radius: 0;
}

.menubar button.active {
  opacity: 0.5;
}

.menubar button:hover {
  background-color: #8f9bbf;
}

.menubar button:focus {
  outline-color: #8f9bbf;
}

.menubar .filter-range {
  margin-left: 15px;
}

.menubar .filter-range input {
  margin: 0 10px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
}

.datecard {
  border-radius: 0;
}

.datecards > .spinner {
  width: 50px;
  margin: 0 auto;
  display: block;
}

.datecard .panel-heading {
  background-color: #8f9bbf;
  border-radius: 0;
}

h3 {
  margin: 10px;
  width: 80%;
  display: inline;
  font-size: 32px;
}

.datecard .cardlabel {
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  font-family: sans-serif;
}

.datecard .panel-heading--disabled {
  background-color: #8d252c;
}

.datecard .panel-heading--disabled h3 {
  color: #ececec;
}

.datecard .panel-heading--disabled .cardlabel {
  color: #ececec;
}

.padlock {
  width: 22px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.padlock--hidden {
  opacity: 0;
}

.glyphicon-pencil {
  margin-top: 5px;
}

.glyphicon-pencil:hover {
  cursor: pointer;
  color: #c9302c;
}

.pencil--red {
  color: #c9302c;
}

.glyphicon-trash {
  margin-top: 5px;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  transition: all 0.2s;
}

.glyphicon-trash:hover {
  cursor: pointer;
  color: #c9302c;
}

.glyphicon-trash--armed {
  background-color: #c9302c;
  color: black;
  border-radius: 50%;
  padding: 7px;
}

.glyphicon-trash--armed:hover {
  color: #8f9bbf;
}

td {
  position: relative;
  overflow: hidden;
}

.remove-slot-btn button {
  opacity: 1;
  border-radius: 20%;
  background-color: transparent;
  color: #333;
  border: none;
  margin-top: 5px;
  transition: all 0.2s;
}

.remove-slot-btn--hidden button {
  opacity: 0;
  left: -50px;
  position: absolute;
  cursor: default;
}

.create-new-slot input {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.slotlabel {
  margin-left: 20px;
}

.label--focused {
  color: #7586bb;
  transition: all 0.3s;
}

.selector {
  border-radius: 0;
}

.selector:focus {
  border-color: #7586bb;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(72, 109, 138, .6);
}

.checkmark {
  width: 25px;
  height: 25px;
  padding: 0px;
  padding-top: 5px;
  opacity: 0.9;
  fill: #7586bb;
  transition: all 0.3s;
}

.checkmark--hidden {
  width: 25px;
  opacity: 0;
}

.slot {
  background-color: white;
  font-family: sans-serif;
}

.slot .spinner {
  width: 25px;
  padding: 0px;
  opacity: 0.9;
  position: absolute;
  left: 7px;
  top: 12px;
  transition: all 0.3s;
}

.slot .spinner--hidden {
  width: 25px;
  opacity: 0;
}

.ReactTable {
  background-color: #FFF;
  max-width: 600px;
}

.report-assigneesignups-filterbar {
  margin-bottom: 10px;
}

.-header {
  background-color: #7586bb;
}

@media (max-width : 420px)
and (orientation : portrait) {
  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 12px;
  }

  .slotlabel {
    margin-left: 10px;
  }

  .datecard .cardlabel {
    font-size: 14px;
  }

  .form-control {
    font-size: 12px;
  }

  .create-new-slot input {
    font-size: 12px;
  }
}
